* {
  box-sizing: border-box;
}

body {
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Raleway", sans-serif;
  height: 100dvh;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

h1 {
  font-size: 20px;
  font-weight: 700;
}

h2 {
  font-size: 16px;
  font-weight: 700;
}

p {
  font-size: 14px;
}

.wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  height: 100%;
}

.sidebar {
  min-width: 325px;
  background-color: #e9f8ff;
  color: #1e2430;
  padding-top: 1rem;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
}
.sidebar img {
  width: 235px;
  height: auto;
  justify-self: center;
  margin-bottom: 4rem;
  margin-inline: auto;
}
.sidebar .offcanvas {
  background-color: #e9f8ff;
  height: 100% !important;
  max-width: 325px;
}
.sidebar .offcanvas-body {
  height: 100% !important;
}
.sidebar .offcanvas-body > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sidebar .sidebar-wrapper {
  height: 100%;
}
.sidebar .search-container {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  position: relative;
}
.sidebar .search-container #searchInput {
  font-family: inherit;
  flex: 1;
  padding-block: 16px;
  padding-left: 24px;
  border: none;
  border-radius: 100px;
}
.sidebar .search-container #searchIcon {
  cursor: pointer;
  position: absolute;
  right: 19px;
}
.sidebar .search-container svg {
  fill: #0074c8;
}
.sidebar .dropend .dropdown-toggle::after {
  display: none;
}
.sidebar .menu {
  overflow-y: auto;
  max-height: calc(100vh - 450px) !important;
}
.sidebar .menu .menuItem {
  max-width: 230px;
  color: #1e2430;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  position: relative;
  margin-bottom: 1rem;
}
.sidebar .menu .menuItem button {
  white-space: nowrap;
}
.sidebar .menu .menuItem:hover {
  background-color: #d2f1ff;
}
.sidebar .menu .menuItem:hover .dropdown-button {
  display: inline-block;
}
.sidebar .menu .menuItem:first-child {
  margin-top: 1rem;
}
.sidebar .menu .menuItem .chat-title {
  border-radius: 0;
  text-align: left;
  flex-grow: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: inherit;
}
.sidebar .menu .menuItem .dropdown-button {
  display: none;
  margin-inline: 0.5rem;
}
@media (max-width: 992px) {
  .sidebar .menu .menuItem {
    max-width: 100%;
  }
}
.sidebar .menu .active {
  background-color: #d2f1ff;
}
.sidebar .menu span {
  font-size: 14px;
  font-weight: 700;
  color: #5596b4;
}
.sidebar .menu .dropdownMenu {
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
}
.sidebar .menu .dropdownMenu button {
  font-weight: 600;
  width: 100%;
  text-align-last: justify;
  border-radius: 8px;
  padding-inline: 12px 16px;
  padding-block: 8px;
}
.sidebar .menu .dropdownMenu button svg {
  margin-right: 0.5rem;
}
.sidebar .menu .dropdownMenu button:hover {
  color: #0074c8;
  background-color: #e9f8ff;
}
.sidebar .menu .dropdownMenu button:hover svg {
  fill: #0074c8;
}
.sidebar .menu .dropdownMenu button:hover:last-child {
  color: #c80000;
  background-color: #ffe9e9;
}
.sidebar .menu .dropdownMenu button:hover:last-child svg {
  fill: #c80000;
}
@media (max-width: 992px) {
  .sidebar .menu .dropdownMenu {
    left: 190px !important;
  }
}
@media (max-width: 992px) {
  .sidebar .menu span {
    margin-left: 1rem;
  }
}
.sidebar .btn {
  border: none;
  padding: 0;
}
.sidebar .archivo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 4.688rem;
}
.sidebar .archivo svg {
  margin-right: 7px;
}
@media screen and (max-width: 992px) {
  .sidebar {
    background: none;
    position: absolute;
  }
}

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #1e2430;
  background-color: #fafafa;
  padding-inline: 0.75rem;
}
.chat-area .chat-container {
  height: 100%;
  overflow-y: auto;
}
.chat-area .profile {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #fafafa;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
  margin-right: 0.75rem;
  padding-top: 3rem;
}
.chat-area .profile svg {
  cursor: pointer;
}
.chat-area .profile img {
  width: 56px;
  height: 56px;
  border-radius: 56px;
}
.chat-area .profile span {
  display: none;
}
.chat-area .profile .logout:hover,
.chat-area .profile .help:hover {
  background-color: #e9f8ff;
  padding: 16px 16px 16px 12px;
  border-radius: 1rem;
}
.chat-area .profile .logout:hover span,
.chat-area .profile .help:hover span {
  font-weight: 600;
  color: #0074c8;
  display: inline-block;
}
.chat-area .profile .logout:hover svg,
.chat-area .profile .help:hover svg {
  fill: #0074c8;
}
.chat-area .chat-empty {
  display: flex;
  height: 75%;
  font-size: 20px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  max-width: 1240px;
}
.chat-area .chat-empty p {
  line-height: 30px;
  margin-top: 30px;
}
.chat-area .chat-messages {
  display: none;
  flex: 1;
  margin-inline: auto;
  max-width: 1240px;
  width: 100%;
  flex-direction: column;
  gap: 3rem;
  margin-block: 4.813rem 5.438rem;
}
.chat-area .chat-messages .user-message {
  width: fit-content;
  max-width: 70%;
  background-color: #f2f2f2;
  padding: 24px;
  border-radius: 16px;
  align-self: end;
}
.chat-area .chat-messages .ai-message-container {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 13px;
  row-gap: 24px;
  width: 80%;
}
.chat-area .chat-messages .ai-message-container .ai-message {
  padding-inline: 34px;
  position: relative;
}
.chat-area .chat-messages .ai-message-container .cursor {
  display: none;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 5px;
}
.chat-area .chat-messages .ai-analizando {
  display: none;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 13px;
  width: 100%;
  flex: 1;
}
.chat-area .chat-messages .ai-analizando span {
  padding-inline: 24px;
  background: radial-gradient(#969aa4, #1e2430);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 5%;
  animation: animate 20s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
.chat-area .chat-messages .report-success {
  display: none;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1em;
  width: 100%;
  flex: 1;
}
.chat-area .chat-messages .report-success p,
.chat-area .chat-messages .report-success a {
  font-size: 16px;
  padding-inline: 24px;
}
.chat-area .chat-messages .report-success a {
  text-decoration: none;
  color: #0074c8;
  font-weight: 600;
}
.chat-area .chat-messages .logo {
  border-radius: 100px;
  width: fit-content;
  height: fit-content;
  padding: 14px;
  background-color: #e9f8ff;
}
.chat-area .chat-messages .logo img {
  width: 31px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 100px;
}
.chat-area .chat-input-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 16px;
  margin-bottom: 4.188rem;
  margin-inline: auto;
  width: 100%;
  max-width: 1240px;
}
.chat-area .chat-input-container .chat-input {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 100px;
}
.chat-area .chat-input-container .chat-input input {
  width: 100%;
  border: none;
  margin-left: 24px;
  color: #1e2430;
}
.chat-area .chat-input-container .chat-input input:focus {
  outline: none;
}
.chat-area .chat-input-container .chat-input button {
  border: none;
  background-color: #e9f8ff;
  border-radius: 100px;
  height: fit-content;
  margin: 8px;
  padding: 0;
}
.chat-area .chat-input-container .chat-input button svg {
  margin: 12px 11px;
}
.chat-area .chat-input-container .chat-input button .loading {
  display: none;
  margin: 8px 9px;
}
.chat-area .chat-input-container .chat-input button:hover {
  background-color: #c7e7ff;
}
.chat-area .chat-input-container .generate-report {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: none;
  color: #0074c8;
  font-size: 16px;
  font-weight: 600;
  background-color: #e9f8ff;
  border-radius: 62px;
  min-width: 200px;
  padding-block: 1rem;
  padding-inline: 1.5rem;
}
.chat-area .chat-input-container .generate-report svg {
  fill: #0074c8;
}
.chat-area .chat-input-container .generate-report:hover {
  background-color: #c7e7ff;
}
.chat-area .chat-input-container .generate-report:disabled {
  color: #949494;
  background-color: #d9dadc;
}
.chat-area .chat-input-container .generate-report:disabled svg {
  fill: #949494;
}
.chat-area .chat-input-container .generating-report {
  display: none;
}
.chat-area .chat-input-container .download-report {
  background-color: #0033a0;
  display: none;
  color: #fff;
}
.chat-area .chat-input-container .download-report:hover {
  background-color: #0033a0;
}
@media screen and (max-width: 992px) {
  .chat-area .chat-input-container {
    display: block;
  }
  .chat-area .chat-input-container .generate-report,
  .chat-area .chat-input-container .generating-report,
  .chat-area .chat-input-container .download-report {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
