$primary-color: #e9f8ff;
$secondary-color: #1e2430;
$accent-color: #5596b4;
$azul-200: #0033a0;
$azul-300: #0074c8;
$background-color: #d2f1ff;
$user-message-color: #f2f2f2;
$fs-400: 14px;
$fs-500: 16px;
$fs-600: 20px;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;
$bs-body-font-size: 56px;
$bs-body-font-weight: $fw-regular;
$bs-body-line-height: 24px;
$bs-body-color: transparent;
$bs-offcanvas-bg: red;

* {
  box-sizing: border-box;
}

body {
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Raleway", sans-serif;
  height: 100dvh;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}
h1 {
  font-size: $fs-600;
  font-weight: $fw-bold;
}
h2 {
  font-size: $fs-500;
  font-weight: $fw-bold;
}
p {
  font-size: $fs-400;
}

.wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: $fs-500;
  line-height: 24px;
  height: 100%;
}

.sidebar {
  min-width: 325px;
  background-color: $primary-color;
  color: $secondary-color;
  padding-top: 1rem;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  img {
    width: 235px;
    height: auto;
    justify-self: center;
    margin-bottom: 4rem;
    margin-inline: auto;
  }
  .offcanvas {
    background-color: $primary-color;
    height: 100% !important;
    max-width: 325px;
  }
  .offcanvas-body {
    height: 100% !important;
    > div {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  .sidebar-wrapper {
    height: 100%;
  }
  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    position: relative;
    #searchInput {
      font-family: inherit;
      flex: 1;
      padding-block: 16px;
      padding-left: 24px;
      border: none;
      border-radius: 100px;
    }

    #searchIcon {
      cursor: pointer;
      position: absolute;
      right: 19px;
    }
    svg {
      fill: $azul-300;
    }
  }
  .dropend .dropdown-toggle::after {
    display: none;
  }
  .menu {
    overflow-y: auto;
    max-height: calc(100vh - 450px) !important;
    .menuItem {
      max-width: 230px;
      color: $secondary-color;
      padding: 8px;
      cursor: pointer;
      border-radius: 8px;
      display: flex;
      position: relative;
      button {
        white-space: nowrap;
      }
      &:hover {
        background-color: $background-color;
        .dropdown-button {
          display: inline-block;
        }
      }
      &:first-child {
        margin-top: 1rem;
      }
      margin-bottom: 1rem;
      .chat-title {
        border-radius: 0;
        text-align: left;
        flex-grow: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: inherit;
      }
      .dropdown-button {
        display: none;
        margin-inline: 0.5rem;
      }
      @media (max-width: 992px) {
        max-width: 100%;
      }
    }
    .active {
      background-color: $background-color;
    }
    span {
      font-size: $fs-400;
      font-weight: $fw-bold;
      color: $accent-color;
    }
    .dropdownMenu {
      flex-direction: column;
      align-items: flex-start;
      padding: 0.5rem;
      border: none;
      border-radius: 1rem;
      button {
        font-weight: $fw-semibold;
        width: 100%;
        text-align-last: justify;
        border-radius: 8px;
        padding-inline: 12px 16px;
        padding-block: 8px;
        svg {
          margin-right: 0.5rem;
        }
        &:hover {
          color: $azul-300;
          background-color: $primary-color;
          svg {
            fill: $azul-300;
          }
          &:last-child {
            color: #c80000;
            background-color: #ffe9e9;
            svg {
              fill: #c80000;
            }
          }
        }
      }
      @media (max-width: 992px) {
        left: 190px !important;
      }
    }
    @media (max-width: 992px) {
      span {
        margin-left: 1rem;
      }
    }
  }

  .btn {
    border: none;
    padding: 0;
  }
  .archivo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    svg {
      margin-right: 7px;
    }
    margin-top: 1rem;
    margin-bottom: 4.688rem;
  }

  @media screen and (max-width: 992px) {
    background: none;
    position: absolute;
  }
}

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: $secondary-color;
  background-color: #fafafa;
  padding-inline: 0.75rem;
  .profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    margin-right: 0.75rem;
    margin-top: 3rem;
    svg {
      cursor: pointer;
    }
    img {
      width: 56px;
      height: 56px;
      border-radius: 56px;
    }
    span {
      display: none;
    }
    .logout,
    .help {
      &:hover {
        background-color: $primary-color;
        padding: 16px 16px 16px 12px;
        border-radius: 1rem;
        span {
          font-weight: $fw-semibold;
          color: $azul-300;
          display: inline-block;
        }
        svg {
          fill: $azul-300;
        }
      }
    }
  }
  .chat-empty {
    display: flex;
    height: 100%;
    font-size: $fs-600;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    max-width: 1240px;
    p {
      line-height: 30px;
      margin-top: 30px;
    }
  }
  .chat-messages {
    display: none;
    flex: 1;
    overflow-y: auto;
    margin-inline: auto;
    max-width: 1240px;
    width: 100%;
    flex-direction: column;
    gap: 3rem;
    margin-block: 4.813rem 5.438rem;

    .user-message {
      width: fit-content;
      max-width: 70%;
      background-color: $user-message-color;
      padding: 24px;
      border-radius: 16px;
      align-self: end;
    }

    .ai-message-container {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 13px;
      row-gap: 24px;
      width: 80%;
      .ai-message {
        padding-inline: 34px;
        position: relative;
      }
      .cursor {
        display: none;
        width: 10px;
        height: 10px;
        background-color: black;
        border-radius: 50%;
        vertical-align: middle;
        margin-left: 5px;
      }
    }
    .ai-analizando {
      display: none;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 13px;
      width: 100%;
      flex: 1;
      span {
        padding-inline: 24px;
        background: radial-gradient(#969aa4, #1e2430);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 5%;
        animation: animate 20s linear infinite;
      }
      @keyframes animate {
        0% {
          background-position: 0% 0%;
        }
        100% {
          background-position: 100% 100%;
        }
      }
    }
    .report-success {
      display: none;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 1em;
      width: 100%;
      flex: 1;
      p,
      a {
        font-size: $fs-500;
        padding-inline: 24px;
      }
      a {
        text-decoration: none;
        color: $azul-300;
        font-weight: $fw-semibold;
      }
    }

    .logo {
      border-radius: 100px;
      width: fit-content;
      height: fit-content;
      padding: 14px;
      background-color: $primary-color;
      img {
        width: 31px;
        height: 30px;
        flex-shrink: 0;
        border-radius: 100px;
      }
    }
  }

  .chat-input-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 16px;
    margin-bottom: 4.188rem;
    margin-inline: auto;
    width: 100%;

    max-width: 1240px;
    .chat-input {
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #fff;
      border-radius: 100px;
      input {
        width: 100%;
        border: none;
        margin-left: 24px;
        color: $secondary-color;
        &:focus {
          outline: none;
        }
      }
      button {
        border: none;
        background-color: $primary-color;
        border-radius: 100px;
        height: fit-content;
        margin: 8px;
        padding: 0;
        svg {
          margin: 12px 11px;
        }
        .loading {
          display: none;
          margin: 8px 9px;
        }
        &:hover {
          background-color: #c7e7ff;
        }
      }
    }

    .generate-report {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      border: none;
      color: $azul-300;
      font-size: $fs-500;
      font-weight: $fw-semibold;
      background-color: $primary-color;
      border-radius: 62px;
      min-width: 200px;
      padding-block: 1rem;
      padding-inline: 1.5rem;
      svg {
        fill: $azul-300;
      }

      &:hover {
        background-color: #c7e7ff;
      }
      &:disabled {
        color: #949494;
        background-color: #d9dadc;
        svg {
          fill: #949494;
        }
      }
    }
    .generating-report {
      display: none;
    }
    .download-report {
      background-color: $azul-200;
      display: none;
      color: #fff;
      &:hover {
        background-color: $azul-200;
      }
    }
    @media screen and (max-width: 992px) {
      display: block;
      .generate-report,
      .generating-report,
      .download-report {
        width: 100%;
      }
    }
  }
}
